.room {
	background-color: purple;
}
			
.chat {
	background-color: white;
}
			
.users {
	background-color: red;
}
			
.main-flex-container {
	display: flex;
	flex-direction: row;
}
ul {
	list-style-type:none;
}
#user-message {
	background-color: blue;
	color: white;
	text-align: center;
	border-radius: 25px;
}
#server-message {
	background-color: green;
	text-align: center;
	border-radius: 25px;
}
			